#chart1 {
  margin-right: 50px;
  margin-left: 50px;
  height:900px;
  border-style: solid;
  border-width: 2px;
  background-color:LightYellow;
}

#chart2 {
  margin-right: 100px;
  margin-left: 100px;
  height: 570px;
  border-style: solid;
  border-width: 2px;
  background-color:LightGreen;
}

#map__container {
  margin-left:10px;
  margin-right:10px;
  padding:0 10px 0 0;
}

#yeardropdown {
  position:relative;
  top:14px; 
}

.button {
   position:relative;
   top:50px;
   border: 1px outset #b37d00 ;
   background-color: Green;
   color: white;
}

#map_container2 {
   height: 500px;
   width:910px;
}

